@keyframes scale-up {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes sparks-fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes sparks-disappear {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.edge {
  transition: color 0.1s linear;
}

.core {
  transition: opacity 0.3s linear;
  opacity: 1;
}

.main-body {
  transition: opacity 0.3s linear;
  opacity: 1;
}

/*Hover*/
.like-icon:hover .core {
  fill: var(--edge);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--edge);
  transition: fill 0.3s linear;
}

/*Active*/
.like-icon:active .core {
  fill: var(--animation-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-color);
  transition: fill 0.3s linear;
}

/*Is-liked*/
.like-icon.is-liked .edge {
  fill: var(--edge-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: var(--animation-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-color);
  transition: fill 0.3s linear;
}

.like-icon.is-liked {
  transform: scale(1.1);
  animation: scale-up 0.3s ease-in-out forwards;
}

.like-icon {
  transform-origin: center;
  transition: transform 0.25s ease-out;
}

.like-icon.is-liked .sparks {
  opacity: 1;
  animation: sparks-fade 0.3s ease-in 0.3s forwards;
}

.like-icon.is-liked:not(:hover):not(:active) .sparks {
  animation: sparks-disappear 0.3s ease-in 0s 1 forwards;
}

.card__icon-button:not(.is-liked) .heart .sparks {
  opacity: 0;
  transform: scale(0.2);
  transition: opacity 0.3s linear, transform 0.3s linear;
  transform-origin: center center;
}

.card__icon-button:not(.is-liked) .heart .sparks.active {
  opacity: 1;
  transform: scale(1);
}